/*初始化  reset*/

body,
button,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
td,
ul {
	margin: 0;
	padding: 0
}

body,
button,
input {
	font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
	font-size: 100%
}

ol,
ul {
	list-style: none
}

a {
	text-decoration: none
}

/*a:hover {
	text-decoration: underline
}*/

fieldset,
img {
	border: 0;
	vertical-align: top;
}

a,
button {
	cursor: pointer;
}


/*清除浮动*/

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
	/*IE/7/6*/
}


/*indexCSS*/


/*index头部样式*/

.header-top {
	width: 100%;
	height: 100px;
	background-color: white;
	overflow: hidden;
}

.header-top-middle {
	width: 1100px;
	height: 52px;
	margin: 25px auto;
	overflow: hidden;
	
}

.header-top-middle img{
	display: block;
	float: left;
}

.header-top-middle>img{
	height: 36px;
	margin-top: 8px;
	margin-left: 10px;
}

.header-top .header-top-middle a img{
	height: 51px;
}


.phone01 {
	background:url(../img/phone.png) no-repeat;
	background-position-y: 50%;
	background-size: auto 80%;
	float: right;
	overflow: hidden;
	padding-left: 60px;
	height: 52px;
}

.phone-text1 {
	font-size: 14px;
	line-height: 20px;	
}

.phone-text2 {
	font-size: 26px;
	font-family: Corbel;
	line-height: 30px;	
}


/*头部导航*/
.nav-bar {
	width: 100%;
	height: 40px;
	background-color: #b81300;
}



.nav-bar-ul {
	width: 1100px;
	height: 40px;	
	margin: 0 auto;
	background: url(../img/nav-bg01.png) no-repeat;
}

.nav-bar-ul>li {
	float: left;
	width: 123px;
	height: 40px;
	font-size: 16px;
	text-align: center;
	margin: 0 17px;
}

.nav-bar-ul li ul{
	position: absolute;
	background-color: #b81300;
	z-index: 999;
	display: none;
	width: 123px;
}

.nav-bar-ul li:hover ul{
	display: block;
}

.nav-bar-ul li ul li{
	float: none;	
}

.nav-bar-ul li ul li:hover a{
	background-color: white;
	color: #b81300;
}

.nav-bar-ul li ul li a{
	display: block;
	width: 100%;
	color: white;
	line-height: 40px;
	font-size: 14px;
}

.nav-bar-ul li:hover{
	background-color: #db7c6e;
}

.nav-bar-ul>li a {
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	line-height: 40px;
}

.focuse01{
	background-color: #db7c6e;
}




/*index内容样式*/

.swiper01 {
	width: 100%;
	height: 480px;
}


/*轮播01*/


/* flexslider */

.swiper01 .flexslider {
	position: relative;
	width: 100%;
	height: 493px;
	overflow: hidden;
	min-width:1100px ;
}

.slides {
	position: relative;
	z-index: 1;
}

.slides li {
	height: 493px;
	transition: all 0.3s ease 0s;
}

.slides li a {
	display: block;
	width: 100%;
	height: 100%;
	background-size: auto 100% !important; 
}



 .flex-control-nav {
	position: absolute;
	bottom: 28px;
	z-index: 2;
	width: 100%;
	text-align: center;
}

 .flex-control-nav li {
	display: inline-block;
	/*width: 20px;
	height: 20px;*/
	margin: 0 8px;
	/*display: inline;*/
	zoom: 1;
}

 .flex-control-nav a {
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 50px;
	border: 1px solid white;
	border-radius: 50%;
	-moz-border-radius: 50%; /* Firefox */
    -webkit-border-radius: 50%; /* Safari 和 Chrome */	
	overflow: hidden;
	background-color: white ;
	cursor: pointer;	
}

 .flex-control-nav .flex-active {
	background-color: rgb(220,33,76);
}


/*翻页*/

.swiper01 .flex-direction-nav {
	position: absolute;
	z-index: 3;
	width: 100%;
	top: 45%;
}

.swiper01 .flex-direction-nav li a {
	display: block;
	width: 50px;
	height: 50px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
}

/*row02*/

.row02{
	width: 1100px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 40px;
}






/*index swiper03*/

.swiper03{
	float: left;	
	width: 500px;
	height: 330px;
	position: relative;
	overflow: hidden;
}

.swiper03 .slides li{
	width: 100%;
	height: 330px;
	
}

.swiper03 .slides li a{
	width: 100%;
	height: 330px;
	position: relative;
}

.swiper03 .slides li a img{
	display: block;
	width: 100%;
	height: 330px;
	
	
}

.swiper03 .swiper3-info{
	position: absolute;
	width: 100%;
	height: 38px;
	background-color: black;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	color: white;
	bottom: 0;
	font-size: 16px;
	line-height: 38px;
	text-indent: 32px;
}

.swiper03 .flex-control-nav{
	bottom: 5px;
	text-align: right;	
}

.swiper03 .flex-control-nav li{
	margin: 0 5px;
}

.swiper03 .flex-control-nav li a{
	width: 10px;
	height: 10px;
}



/*index news*/


.news{
	float: right;
	width: 575px;
	height: 330px;
	
}

.news .news-title{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid rgb(225,225,225);
}

.news .news-title .news-title-01{
	font-size: 24px;
	color: #b81300;
	float: left;
	line-height: 30px;
	border-bottom: 1px solid rgb(184,19,0);
}

.news .news-title .news-title-02{
	font-size: 16px;
	color: #b4b4b4;
	float: left;
	line-height: 30px;
	margin-left: 10px;
}

.news .news-title a{
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	color: black;
	
}

.news .news-title a:hover{
	color: #b81300;
}

.news-banner{
	width: 570px;
	height: 102px;
	
	padding-right: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.news-banner h2 a{
	font-size: 16px;
	color: black;
}

.news-banner h2 a:hover{
	color: #b81300;
}

.news-banner div{
	font-size: 14px;
	color: #979797;
}

.news-banner p{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 28px;
}

.news-list{
	width: 570px;
	padding-top: 20px;
}

.news-list li{
	overflow: hidden;
	width: 100%;
	height: 35px;
}

.news-list li a{
	display: block;
	width: 100%;
	height: 100%;
	color: black;
}

.news-list li a:hover{
	color: #b81300;
}

.news-list li .news-list-info{
	float: left;
	font-size: 14px;
	
}

.news-list li .news-list-time{
	float: right;
	font-size: 14px;
}

/*row03*/

.row03{
	
	margin: 43px auto;
	width: 1100px;
	height: 120px;
}

.row03 img{
	width: 100%;
	height: 100%;
}


/*row04*/

.row04{
	width: 1100px;
	overflow: hidden;
	margin: 0 auto;
}




/*index train*/

.train{
	float: left;
	width: 500px;
	/*height: 330px;*/
	
}

.train .train-title{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid rgb(225,225,225);
}

.train .train-title .train-title-01{
	font-size: 24px;
	color: #b81300;
	float: left;
	line-height: 30px;
	border-bottom: 1px solid rgb(184,19,0);
}

.train .train-title .train-title-02{
	font-size: 16px;
	color: #b4b4b4;
	float: left;
	line-height: 30px;
	margin-left: 10px;
}

.train-title a{
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	color: black;
	
}

.train-title a:hover{
	color: #b81300;
}

.train-banner{
	width: 500px;
	/*height: 102px;*/	
	padding-right: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}

.train-banner-right{
	width: 280px;
	padding-left: 220px;
	
}

.train-banner img{
	display: block;
	float: left;
	height: 137px;
}

.train-banner h2 a{
	font-size: 14px;
	color: black;
}

.train-banner h2 a:hover{
	color: #b81300;
}

.train-banner div{
	font-size: 14px;
	color: #979797;
}

.train-banner p{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	line-height: 28px;
}

.train-list{
	width: 500px;
	padding-top: 10px;
}

.train-list li{
	overflow: hidden;
	width: 480px;
	height: 35px;
	background: url(../img/train-icon-01.png) no-repeat;
	background-position: 0 20%;
	padding-left: 20px;
}

.train-list li a{
	display: block;
	width: 100%;
	height: 100%;
	color: black;
}

.train-list li a:hover{
	color: #b81300;
}

.train-list li .train-list-info{
	float: left;
	font-size: 14px;
	
}

.train-list li .train-list-time{
	float: right;
	font-size: 14px;
}



/*teacher01*/

.teacher01{
	width: 570px;
	float: right;
}

.teacher01-title{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid rgb(225,225,225);
}

.teacher01-title-01{
	font-size: 24px;
	color: #b81300;
	float: left;
	line-height: 30px;
	border-bottom: 1px solid rgb(184,19,0);
}

.teacher01-title-02{
	font-size: 16px;
	color: #b4b4b4;
	float: left;
	line-height: 30px;
	margin-left: 10px;
}

.teacher01-title a{
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	color: black;
	
}

.teacher01-title a:hover{
	color: #b81300;
}


#flexslider-04{
	margin-top: 20px;
	margin-left: 10px;
	width: 570px;
	height: 220px;
	position: relative;
}


#flexslider-04 ul li a{
	width: 176px;
	height: 220px;
}


#flexslider-04 ul li a img{
	display: block;
	width: 100%;
	height: 100%;
}

#flexslider-04 ul li a div{
	margin-top: 5px;
	width: 100%;
	height: 35px;
	background-color: rgb(237,237,237);
	font-size: 14px;
	color: black;
	text-align: center;
	line-height: 35px;
}

#flexslider-04 ol{
	bottom: -75px;
}

#flexslider-04 ol li{
	margin: 0 5px;
}

#flexslider-04 ol li a{
	width: 10px;
	height: 10px;
	
}


/*index轮播02*/

.case01 { width:1100px; height:250px; margin:30px auto;}

.case01-title{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid rgb(225,225,225);
}

.case01-title-01{
	font-size: 24px;
	color: #b81300;
	float: left;
	line-height: 30px;
	border-bottom: 1px solid rgb(184,19,0);
}

.case01-title-02{
	font-size: 16px;
	color: #b4b4b4;
	float: left;
	line-height: 30px;
	margin-left: 10px;
}

.case01-title a{
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	color: black;
	
}

.case01-title a:hover{
	color: #b81300;
}




/*******************************************/
/* inner */
.btn_bg {position:relative; width:1100px; float:right; height:240px; top:10px; position:relative; }
.case_in { position:relative; width:1100px;  float:right; height:240px; margin-top:9px;}
#inner2{  position:relative;width:1100px; float:right;}
#carousel2 div{float:left; width:200px; height:150px; margin-right: 15px;overflow: hidden; }
#carousel2 div img{display:block; width: 100%;height: 100%;}
#carousel2 div em{ text-align:center; display:block; margin-top:15px; font-size:14px; color:#ffffff;}
#pager2{text-align:center;margin-top:20px;color:#666;}
#pager2 a{color:#666;text-decoration:none;display:inline-block;padding:5px 10px;}
#pager2 a:hover{color:#333;}
#pager2 a.selected{background-color:#333;color:#ccc;}
#prev2, #next2{display:block;width:30px;height:95px; position:absolute;top:80px;z-index:2; }
#prev2{ left:-20px;top:60px;background: url(../img/left-01.png) no-repeat;}
#next2{right:-24px; top:60px;background:url(../img/right-01.png) no-repeat;}




/*index底部样式*/

.footer{
	width: 100%;
	height: 88px;
	background-color: rgb(184,19,0);
	overflow: hidden;
	min-width: 1100px;
}

.footer table{
	margin: 20px auto;
	color: white;
	font-size: 12px;
	
}	

.footer table th{
	width: 270px;
	line-height: 30px;
	padding-right: 40px;
}

/*在线留言*/

.banneer-02{
	display: block;
	width: 100%;
	height: 380px;
	min-width:1100px ;
}

.content{
	width: 1100px;
	margin: 0 auto;
	position: relative;	
}

.content-left{
	float: left;
	/*z-index: 2;*/
	width: 240px;
}



.content-left dl{
	position: relative;
	padding-top: 8px;
}

.content-left dl dt{
	width: 240px;
	height: 70px;
	background-color: rgb(184,19,0);
	position: absolute;
	top: -70px;	
	border-bottom: 2px solid rgb(107,11,0);
	
}

.content-left dl dt .content-left-title01{
	font-size: 22px;
	color: white;
	text-align: center;
	margin-top: 10px;
}

.content-left dl dt .content-left-title02{
	font-size: 18px;
	color: #ee1900;
	font-family: 方正兰亭超细黑简体;
	text-align: center;
}

.content-left dl dd{
	width: 240px;
	height: 50px;
	background-color: rgb(241,241,241);
	margin-bottom: 2px;
	line-height: 50px;
	
	text-align: center;
}

.content-left dl dd a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 16px;
	color: black;
}

.content-left dl dd a:hover{
	background-color: rgb(184,19,0);
	color: white;
}

.content-left .content-left-dd-active{
	background-color: rgb(184,19,0);
	color: white;
}

.content-left-article{
	margin-top: 20px;
}

.content-left-article-title{
	width: 240px;
	height: 70px;
	
}

.content-left-article-title img{
	width: 100%;
	height: 100%;
}

.content-left-article ul{
	border-left: 1px solid rgb(241,241,241);
	border-right: 1px solid rgb(241,241,241);
	border-bottom: 1px solid rgb(241,241,241);
	padding: 15px;
	font-size: 14px;
}

.content-left-article ul li{	
	line-height: 29px;
}

.content-right{
	float: right;
	width: 810px;
	margin-top: 10px;
	padding-bottom: 50px;
}

.clear{
	clear: both;
}

.content-right-title{
	width: 100%;
	border-bottom: 1px solid rgb(241,241,241);
	overflow: hidden;
}

.content-right-title dl {
	float: right;
	overflow: hidden;
}

.content-right-title dl dt{
	float: left;
	background: url(../img/right-position-01.png) no-repeat;
	padding-left: 18px;
}

.content-right-title dl dd{
	float: left;
}

.content-right-title dl a{
	color: black;
	
}

.content-right-title  .content-right-title-active01{
	color: rgb(184,19,0);
}

.content-right-title dl a:hover{
	color: rgb(184,19,0);
}

.content-right-title div{
	font-size: 18px;
	color: rgb(184,19,0);
	margin-top: 30px;
	margin-bottom: 10px;
	font-weight: bold;
	border-left: 5px solid rgb(184,19,0);
	height: 18px;
	line-height: 18px;
	padding-left: 10px;
}

.content-right-article{
	margin-top: 20px;
	width: 810px;
}

.content-right-article h2{
	text-align: center;
	font-size: 26px;
	margin-bottom: 15px;
}

.content-right-article div{
	font-size: 16px;
	text-align: center;
}

.content-right-article div span{
	color: rgb(184,19,0);
}

.content-right form{
	overflow: hidden;
	padding-bottom: 50px;
}

.content-right form ul{
	margin-top: 40px;
	overflow: hidden;
}

.content-right form ul li{
	font-size: 16px;
	overflow: hidden;
	margin-bottom: 20px;
}

.content-right form ul li input{
	width: 385px;
	height: 42px;
	margin-right: 212.5px;
	float: right;
}

.content-right form ul li label{
	float: right;
	line-height: 46px;
	background: url(../img/star01.png) no-repeat;
	padding-left: 10px;
	background-position-y:50%;
}

.content-right form ul li textarea{
	width: 532px;
	height: 187px;
	float: right;
	margin-right: 63.5px;
	font-size: 14px;
}

.content-right form .submit01{
	width: 114px;
	height: 38px;
	border: none;
	background-color: rgb(184,19,0);
	color: white;
	font-size: 16px;
	margin-left: 210px;
	border-radius: 2px;
	cursor: pointer;
}

.content-right form .reset01{
	width: 114px;
	height: 38px;
	border: none;
	background-color: rgb(153,153,153);
	color: white;
	font-size: 16px;
	margin-left: 40px;
	border-radius: 2px;
	cursor: pointer;
}

.content-right .address01{
	width: 810px;
}

.content-right .address01 .address-title01{
	text-align: center;
	font-size: 18px;
	line-height: 40px;
}

.content-right .address01 .address-title02{
	text-align: center;
	font-size: 18px;
	line-height: 40px;
}

.content-right .address01 h3{
	font-size: 30px;
	color: #f27d18;
	text-align: center;
	font-weight: lighter;
	margin-bottom: 50px;
}

.school01{
	width: 810px;
	padding-top: 30px;
	font-size: 14px;
}

.school01 p{
	text-indent: 28px;
	line-height: 32px;
}

.school01 img{
	display: block;
	width: 307px;
	height: 230px;
	margin: 30px auto;
	
}

.train01 li{
	font-size: 14px;
	overflow: hidden;
	line-height: 65px;
	border-bottom: 1px dashed #e1e1e1;
	background: url(../img/train-list-01.png) no-repeat;
	padding-left: 20px;
	background-position-y: 50%;
}

.train01 li a{
	display: block;
	width: 100%;
	height: 100%;
	color: black;
}

.train01 li a:hover{
	color: #b81300;
}

.train-info{
	float: left;
}

.train01-time{
	float: right;
}

.content-right-footer{
	margin-top: 30px;
	margin-bottom: 40px;
}


/*课程*/

.class01 li a img{
	display: block;
	float: left;
	width: 185px;
	height: 128px;
}

.class01 li{
	font-size: 14px;
	overflow: hidden;
	line-height: 65px;
	border-bottom: 1px dashed #e1e1e1;
	padding-top: 25px;
	padding-bottom: 25px;
}

.class01 li a{
	display: block;
	width: 100%;
	height: 100%;
	color: black;
}

.class01 li a:hover{
	color: #b81300;
}

.class-info{
	padding-left: 210px;
}

.class-info h3{
	font-size: 16px;
	line-height: 24px;
}

.class-info {
	font-size: 14px;
	color: #646464;
}

.class-info div{
	line-height: 40px;
}

.class-info p{
	line-height:30px;
}


/*教师*/

.teacher-style01 ul{
	display: -webkit-flex;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-around;
	margin-top: 30px;
}

.teacher-style01 ul img{
	width: 226px;
	height: 288px;
}

.teacher-style01 ul div{
	margin-top: 10px;
	width: 226px;
	height: 46px;
	background-color: rgb(237,237,237);
	font-size: 16px;
	text-align: center;
	line-height: 46px;
}

.teacher-style01 ul li{
	margin-bottom: 30px;
}


.teacher-style01 ul li a{
	color: black;
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

.teacher-style01 ul li a:hover .teacher-stylebg{
	display: block;	
}

.teacher-style01 .teacher-stylebg{
	background: url(../img/teacher-stylebg-01.png) no-repeat;
	width: 226px;
	height: 288px;
	position: absolute;
	top: 0;
	margin: 0;
	display: none;
}


/*photo*/

.photo01 ul{
	display: -webkit-flex;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-top: 30px;
}

.photo01 ul img{
	width: 255px;
	height: 191px;
}


.photo01 ul li{
	margin-bottom: 30px;
}


.photo01 ul li a{
	color: black;
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

.photo01 ul li a:hover .photo-bg{
	display: block;	
}

.photo01 .photo-bg{
	background: url(../img/photo-bg.png) no-repeat;
	width: 255px;
	height: 191px;
	position: absolute;
	top: 0;
	margin: 0;
	display: none;
}

.detail{
	width: 810px;
}

.detail .detail-header{
	margin-top:30px;
}

.detail .detail-header h2{
	font-size: 18px;
	text-align: center;
	line-height: 60px;
}

 .detail-title{
	font-size: 14px;
	overflow: hidden;
	padding-bottom: 30px;
	border-bottom: 1px dashed #6e6e6e;
}

.detail-title01{
	float: left;
	margin-left: 120px;
}

.detail-title02{
	float: left;
	margin-left: 40px;
}

.bdsharebuttonbox{
	float: left;
	margin-left: 40px;
}


.detail-body{
	width: 800px;
	padding:30px 5px;
	border-bottom: 1px dashed #6e6e6e;
	font-size: 14px;
	
}

.detail-body h3{
	line-height: 50px;
}

.detail-body p{
	text-indent: 28px;
	line-height: 40px;
}

.detail-body img{
	display: block;
	width: 509px;
	height: 304px;
	margin: 20px auto;
}

.detail-footer {
	margin-top: 30px;
	font-size: 14px;
	line-height: 40px;
	
}

.detail-footer a{
	color: black;
}

.detail-footer a:hover{
	color: rgb(184,19,0);
}




/**分享***/
.bdsharebuttonbox a{width:19px !important; height:18px !important; display:inline-block !important; padding-left:0px !important;margin:0 2px !important;position: relative;top: 4px;}
.bds_sqq{background:url(../img/share9.png) no-repeat !important; background-position:-49px 0 !important;}
.bds_weixin{background:url(../img/share9.png) no-repeat !important; background-position:0px 0 !important; margin-left:6px;}
.bds_tsina{background:url(../img/share9.png) no-repeat !important; background-position:-25px 0 !important;}
.bds_qzone{background:url(../img/share9.png) no-repeat !important; background-position:-74px 0 !important;}
.bds_tqq{background:url(../img/share9.png) no-repeat !important; background-position:-98px 0 !important;}
.bds_more{background:url(../img/share9.png) no-repeat !important; background-position:-123px 0 !important;}

.bdsharebuttonbox a{
	float: none !important;
}







/*分页*/

/*CSS Digg style pagination*/

DIV.meneame {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	FONT-SIZE: 14px;
	PADDING-BOTTOM: 3px;
	MARGIN: 3px;
	COLOR: black;
	PADDING-TOP: 3px;
	TEXT-ALIGN: center;
	padding-bottom: 20px;
}

DIV.meneame A {
	BORDER-RIGHT: rgb(241,241,241) 1px solid;
	PADDING-RIGHT: 7px;
	BACKGROUND-POSITION: 50% bottom;
	BORDER-TOP: rgb(241,241,241) 1px solid;
	PADDING-LEFT: 7px;
	BACKGROUND-IMAGE: url(meneame.jpg);
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: rgb(241,241,241) 1px solid;
	COLOR: black;
	MARGIN-RIGHT: 3px;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: rgb(241,241,241) 1px solid;
	TEXT-DECORATION: none
}

DIV.meneame A:hover {
	BORDER-RIGHT: rgb(203,36,30) 1px solid;
	BORDER-TOP: rgb(203,36,30) 1px solid;
	BACKGROUND-IMAGE: none;
	BORDER-LEFT: rgb(203,36,30) 1px solid;
	COLOR: white;
	BORDER-BOTTOM: rgb(203,36,30) 1px solid;
	BACKGROUND-COLOR: rgb(203,36,30);
}

DIV.meneame A:active {
	BORDER-RIGHT: rgb(203,36,30) 1px solid;
	BORDER-TOP: rgb(203,36,30) 1px solid;
	BACKGROUND-IMAGE: none;
	BORDER-LEFT: rgb(203,36,30) 1px solid;
	COLOR: white;
	BORDER-BOTTOM: rgb(203,36,30) 1px solid;
	BACKGROUND-COLOR: rgb(203,36,30);
}

DIV.meneame SPAN.current {
	BORDER-RIGHT: rgb(203,36,30) 1px solid;
	PADDING-RIGHT: 7px;
	BORDER-TOP: rgb(203,36,30) 1px solid;
	PADDING-LEFT: 7px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: rgb(203,36,30) 1px solid;
	COLOR: white;
	MARGIN-RIGHT: 3px;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: rgb(203,36,30) 1px solid;
	BACKGROUND-COLOR: rgb(203,36,30);
}

DIV.meneame SPAN.disabled {
	/*BORDER-RIGHT: darkgrey 1px solid;*/
	PADDING-RIGHT: 7px;
	/*BORDER-TOP: darkgrey 1px solid;*/
	PADDING-LEFT: 7px;
	PADDING-BOTTOM: 5px;
	/*BORDER-LEFT: darkgray 1px solid;*/
	COLOR: darkgray;
	MARGIN-RIGHT: 3px;
	PADDING-TOP: 5px;
	/*BORDER-BOTTOM: darkgray 1px solid*/
}

